html {
  font-family: 'Nunito', sans-serif;
  width: 100vw;
  height: 100%;
}

body {
  background: linear-gradient(to right bottom, #005ce6, #ff4dffc5);
}

.boards {
  display: flex;
  margin-top: 32px;
}

.board {
  background-color: #c9c6cf;
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: black;
}

.dropzone {
  padding: 16px;
  min-width: 282px;
  min-height: 200px;
}

.card {
  padding: 16px;
  box-shadow: 0 2px 2px -1px #1f7ffd88;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background: #1a1a1a1c;
}

.status {
  width: 30px;
  height: 8px;
  background: grey;
  margin-bottom: 16px;
  border-radius: 8px;
}

.status.green {
  background: #23d2ac;
}

.status.blue {
  background: #33adff;
}

.status.red {
  background: red;
}

.highlight {
  background: #fd951f08;
}

.card, .dropzone {
  transition: .4s;
}

.is-dragging {
  cursor: crosshair;
}

.over {
  background-color: #4cd13783;
}

.add-card {
  margin: 1rem;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  background: transparent;
  
  transition: color, .2s;
}

.add-card:hover {
  cursor: pointer;
  color: #33adff;
  font-size: small;
}

*{
  /* border: 1px solid red; */
}